html {
  background-color: #1f2937;
  font-family: "Roboto", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.second {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}
button {
  background-color: #3882f6;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;

}

.info {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

ul {
  display: flex;
  list-style: none;
  
}

.menu__item {
  margin: 10px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

